$bg-color-blue-primary: #2078b2;
$bg-color-blue-transparent: #2a95f3de;

$bg-color-blue-facebook: #2a96f3;
$bg-light: #fafafa;
$bg-dark: rgb(8, 9, 12);
$montserra-font: "Montserrat", sans-serif;
$inter-font: "Inter", sans-serif;
$color-default-text: #191c42;
$bg-white-dark: #f7fafb;
$social-box-colors: social-box--white #f7fafb, box--default #191c42;
$btn-primary-color: #4869ee;
$btn-primary-hover-color:#6379d3;
