a {
  text-decoration: none;
}
a:hover {
  color: $bg-color-blue-facebook;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $color-default-text;
}
body {
  background-color: $bg-white-dark;
}
