a {
  text-decoration: none;
  color: $bg-white-dark;
}
a:hover {
  transition: 00.3s linear;
  color: $bg-white-dark;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $color-default-text;
}
body {
  background-color: $bg-white-dark;
}
