.banner {
	// background-image: url("../images/bg/bg-4.jpg");
	// background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../images/bg/bg-4.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	text-align: center;
	color: white;
}
