.btn {
  @extend .btn;
  &--hover:hover {
    @include get-bg-default-color($bg-light);
    color: $bg-white-dark;
    
  }
}
.btn__primary {
  @extend .btn-primary;
  background-color: $btn-primary-color;
  &:hover {
    transition: 0.3s linear;
    background-color: $btn-primary-hover-color;
  }
}

.btn__secondary {
  @extend .btn-secondary;
}
.btn__success {
  @extend .btn-success;
}
.btn__danger {
  @extend .btn-danger;
}
.btn__info {
  @extend .btn-info;
}
.btn--download {
  margin-left: 20%;
  margin-bottom: 2rem;
}
.btn--scroll {
  position: fixed;
  left: 70rem;
  bottom: 2rem;
  z-index: 999;
  @extend .btn__primary;
  width: 70px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.btn--scroll-hide{
  display: none;
}
