.btn {
  @extend .btn;
  &--hover:hover {
    @include get-bg-default-color($bg-light);
    color: $color-default-text;
    border: 1px solid $color-default-text;
  }
}
.btn__primary {
  @extend .btn-primary;
  background-color: #4869ee;
  &:hover {
    transition: 0.3s linear;
    background-color: #6379d3;
  }
}

.btn__secondary {
  @extend .btn-secondary;
}
.btn__success {
  @extend .btn-success;
}
.btn__danger {
  @extend .btn-danger;
}
.btn__info {
  @extend .btn-info;
}
