.navbar {
  @extend .navbar;
  text-align: center;
  @include get-bg-default-color($color-default-text);
}
.navbar__brand {
  @extend .navbar-brand;
}
.navbar__toggler {
  @extend .navbar-toggler;
  cursor: pointer;
  .navbar__toggler--visible {
    display: block !important;
  }
}
.navbar--lg {
  @extend .navbar-expand-lg;
}
.navbar--light {
  @extend .navbar-light;
}
.collapse {
  @extend .collapse;
}
.navbar--collapse {
  @extend .navbar-collapse;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}
.navbar__nav {
  @extend .navbar-nav;
  .nav__item {
    @extend .nav-item;
    .nav__link {
      @extend .nav-link;
      // color: aliceblue;
      color: $bg-white-dark;
      opacity: 0.8;
      font-weight: 500;
      &:hover,
      &:focus {
        color: $bg-light;
        transition: 0.4s linear;
        border-radius: 0.2rem;
        opacity: 1;
      }
    }

    .nav--active {
      @extend .active;
    }
  }
  .nav--dropdown {
    @extend .dropdown;
    .dropdown--toggle {
      @extend .dropdown-toggle;
    }
  }
}
