.title-section {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  span {
    display: block;
    border-bottom: 0.5rem solid $bg-color-blue-facebook;
  }
}
.about-me {
  .about-me__content {
    text-align: justify;
    padding-right: 4rem;
  }
  .about-me__image {
    .image-profile {
      width: 100%;
      height: 350px;
      //   border-radius: 1rem;
    }
  }
}
@media screen and(max-width:600px) {
  .about-me__content {
    padding-right: 0;
    text-align: center;
  }
}
