.contact {
  @include apply-bg-linear-gradient;
  padding-bottom: 2rem;
  i,
  p {
    color: $bg-light;
  }
  &__title {
    @include apply-style-section-title($bg-light);
  }
  @media screen and (max-width: 768px) {
    padding: 1rem;
    .contact__info {
      padding: 0;
      line-height: 0;
      margin-top: 1em;
      font-size: 14px;
    }
  }
}
