.works {
  &__title {
    @include apply-style-section-title($color-default-text);
  }
  &__content > .row > div > img {
    width: 300px;
  }
  .cols:hover {
    background-color: $color-default-text;
    transition: 0.3s linear;
    padding-top: 1rem;
  }
}
